[Unit]
Description=flask-app
After=network.target

[Service]
User=root
WorkingDirectory=/flask-app
ExecStart=python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
